@use "./variables" as *;
.button{
    padding: $border-radius 20px; //$border-radius 10px적용
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    transition: all .3s;
    &.primary{/*& = button*/
        background-color: $primary-color;
        color: white;
    }
    &.secondary{
        background-color: $secondary-color;
        color: #fff;
    }
    &:hover{
        // cursor: pointer;
        opacity: 0.8;
    }
}